.show-points {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 48px;

  .playing-names-container {
    text-transform: capitalize;
  }

  div {
    display: flex;
    flex-direction: column;
    width: 50%;

    p {
      margin-top: 32px;
      font-weight: bold;
    }
  }
}
