.show-points {
  display: flex;
  text-align: center;
  justify-content: space-around;

  div {
    display: flex;
    flex-direction: column;
    width: 50%;

    p {
      margin-top: 32px;
      font-weight: bold;
    }
  }
}
