@import "../../global.scss";

h1,
h2,
h3 {
  text-align: center;
}

.main-title {
  h2 {
    text-align: center;
    margin-left: 0;
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  margin-bottom: 24px;
  max-width: $mobile-width;

  h3 {
    margin-bottom: 8px;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  margin: 24px 0;

  h2 {
    margin-bottom: 8px;
  }
}

.register-button-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;

  h3 {
    margin-bottom: 8px;
  }
}

.validation-error {
  p {
    text-align: center;
    color: $error;
  }
}

.forgot-pass {
  color: $light;
  margin-top: -4px;
  margin: 0;
  text-align: right !important;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  margin: 16px;
  max-width: $mobile-width;
  margin-bottom: 24px;

  label {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    text-align: left !important;

    * {
      background-color: $light;
      border-radius: 6px;
      border: 2px solid $primary-color;
      box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: "Work Sans", sans-serif;
      height: 20px;
      margin-top: 2px;
      padding: 4px 8px;

      &:hover,
      &:focus {
        box-shadow: inset 0px 0px 0px 2px $primary-color;
        outline: none;
      }
    }
  }
}

@media screen and (min-width: $mobile-breakpoint) {
  form,
  .buttons-container {
    margin-left: auto;
    margin-right: auto;
  }
}
