@import "../../global.scss";

h1,
h2,
h3 {
  text-align: center;
}

.main-title {
  h2 {
    text-align: center;
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  max-width: $large-breakpoint;

  h3 {
    margin-bottom: 8px;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;

  h2 {
    margin-bottom: 8px;
  }
}

.register-button-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;

  h3 {
    margin-bottom: 8px;
  }
}

.validation-error {
  p {
    text-align: center;
    color: $error;
  }
}

.forgot-pass {
  color: $light;
  margin-top: -4px;
  margin: 0;
  text-align: right !important;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  margin: 16px;
  max-width: $mobile-width;
  margin-bottom: 24px;

  label {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    text-align: left !important;

    * {
      background-color: $light;
      border-radius: 6px;
      border: 2px solid $primary-color;
      box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: "Work Sans", sans-serif;
      height: 20px;
      margin-top: 2px;
      padding: 4px 8px;
      height: 30px;

      &:hover,
      &:focus {
        box-shadow: inset 0px 0px 0px 2px $primary-color;
        outline: none;
      }
    }
  }
}

@import "../../global.scss";

.button-container {
  text-align: center;
}

.disabled {
  opacity: 0.4;
  cursor: default !important;

  &:hover {
    box-shadow: 0px 0px 0px $light;
  }
}

button {
  align-self: center;
  background-color: $primary-color;
  border-radius: 6px;
  border: 0.5px solid $light;
  color: $light;
  cursor: pointer !important;
  height: 30px;
  padding: 4px 16px;
  transition: 0.6s;
  min-width: 82px;
  //box-shadow: 2px 2px 2px $gray;

  &:hover {
    // box-shadow: 3px 3px 0px $light;
    color: $primary-color;
    background-color: $light;
    border: 0.5px solid $primary-color;
    transition: 0.6s;
  }
}

.button-google {
  background-color: $light;
  color: $dark;
  border: solid $dark;
  display: none;

  &:hover {
    box-shadow: 0px 0px 0px $light;
    cursor: default !important;
  }
}

.button-secondary {
  background-color: $light;
  color: $primary-color;
  border: solid $primary-color;
}

.fontawesome-icon {
  margin-right: 8px;
}

@media screen and (min-width: 360px) {
  form {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: $large-breakpoint) {
  .buttons-container {
    margin-left: auto;
    margin-right: auto;
  }
}
