@import "../../global.scss";

.title-container {
  margin-left: 16px;
}

div {
  div {
    h2 {
      text-align: left;
    }
  }
}

.already-have-account {
  color: $light;
  cursor: pointer;
  text-decoration: underline;
}

.succesfull {
  color: $success;
}

@media screen and (min-width: $mobile-breakpoint) {
  h2 {
    text-align: center !important;
    margin-left: 0 !important;
  }
}
