@import "../../global.scss";

.already-have-account {
  color: $light;
  cursor: pointer;
  text-decoration: underline;
}

.succesfull {
  color: $success;
}

@media screen and (min-width: $large-breakpoint) {
  h2 {
    text-align: center !important;
    margin-left: 0 !important;
  }
}
