@import "../../global.scss";

.match {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 16px;
  max-width: 1240px;

  h3 {
    margin-top: 32px;
  }
}

.renderMoves-container {
  margin-top: 32px;
  margin-bottom: 64px;
}

.match-result {
  font-weight: bold;
}

.win-match {
  color: $success;
}

.lose-match {
  color: $error;
}

.btn-play {
  order: 3;
}

.btn-continue {
  align-self: center;
  order: 3;
  margin-top: 64px;
}

@media screen and (min-width: $mobile-breakpoint) {
  .match {
    margin-left: auto;
    margin-right: auto;
  }
}
