@import "../../global.scss";

.button-container {
  text-align: center;
}

.disabled {
  opacity: 0.4;
  cursor: default !important;

  &:hover {
    box-shadow: 0px 0px 0px $light;
  }
}

button {
  background-color: $primary-color;
  border-radius: 6px;
  border: solid $light;
  color: $light;
  transition: 0.3s;
  cursor: pointer !important;
  padding: 4px 16px;
  margin-bottom: 8px;
  width: 100%;
  //box-shadow: 2px 2px 2px $gray;

  &:hover {
    box-shadow: 3px 3px 0px $light;
    transition: 0.3s;
  }
}

.button-google {
  background-color: $light;
  color: $dark;
  border: solid $dark;
  display: none;

  &:hover {
    box-shadow: 0px 0px 0px $light;
    cursor: default !important;
  }
}

.button-secondary {
  background-color: $light;
  color: $primary-color;
  border: solid $primary-color;
}

.fontawesome-icon {
  margin-right: 8px;
}
