@import "../../global.scss";

// .matches-list-container,
// .title-container {
//   max-width: 1240px;
// }
.welcome-container {
  margin-top: 32px;
  max-width: $large-breakpoint;

  h3 {
    margin-bottom: 16px;
    text-transform: capitalize;
  }
}

.welcome {
  text-align: left;
  max-width: 1240px;
}

.btn-new-game {
  width: 136px;
  margin-bottom: 16px;
}

@media screen and (min-width: $large-breakpoint) {
}

@media screen and (min-width: $large-breakpoint) {
  .welcome-container {
    margin-right: auto;
    margin-left: auto;
  }
}
