@import "../../global.scss";

.chooseOponent-row {
  .oponent-name-container {
    width: 33%;
    overflow: hidden;

    &:hover {
      overflow: visible;

      p {
        word-break: break-all;
      }
    }
  }

  .accept-reject-icons {
    display: flex;
    justify-content: right;
    width: 33%;

    .fa-check {
      &:hover {
        color: $primary-color;
      }
    }

    .fa-times {
      &:hover {
        color: $primary-color;
      }
    }

    svg {
      margin-left: 16px;
      transition: all 0.3s;
      cursor: pointer;
    }
  }

  .resume-match-icon-container {
    cursor: pointer;

    width: 33%;
    position: relative;

    div {
      position: absolute;
      right: 0;

      svg {
        transition: all 0.3s;
      }
    }

    &:hover {
      svg {
        color: $primary-color;
      }
    }
  }

  .points {
    display: flex;

    p {
      margin: 0 4px;
    }
  }
}
