.register-success {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    margin-bottom: 48px;
  }
}

.change-password {
  height: auto !important;
  margin-top: 88px !important;
}
