@import "../../global.scss";

.nav-bar {
  display: flex;
  height: 48px;
  background: blue;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;

  img {
    width: 42px;
  }
}

.link {
  text-decoration: none;
}
