@import "../../global.scss";

.nav-bar {
  align-items: center;
  background-color: $secondary-color;
  box-shadow: 0px 2px 4px rgba(14, 14, 44, 0.3);
  display: flex;
  height: 48px;
  justify-content: space-between;

  .icons-header {
    margin: 0 16px;

    svg {
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
  }

  img {
    width: 32px;
    cursor: pointer;
  }
}

.link {
  text-decoration: none;
}

nav {
  div {
    h3 {
      cursor: pointer;
    }
  }
}
